#toTop {
    display: none;
    position: fixed;
    bottom: 75px;
    right: 10px;
    z-index: 9999;
}
#toTop a {
    background: #073A3F;
    border: 2px solid #FFF;
}
#toTop svg {
    width: 20px;
    height: auto;
}
.loadingspinner {
	display: inline-block;
	pointer-events: none;
	width: 1em;
	height: 1em;
	border: 0.2em solid transparent;
	border-color: #eee;
	border-top-color: #FF6C00;
	border-radius: 50%;
	animation: loadingspin 1s linear infinite;
}
@keyframes loadingspin {
	100% {
			transform: rotate(360deg)
	}
}